#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Note: Load this first for $DEB_BUILD_ARCH.
include /usr/share/dpkg/architecture.mk

# Note: _STRIP operations needs to be done before including buildflags.mk.
ifeq ($(DEB_BUILD_ARCH),loong64)
        # FIXME: -mlsx breaks re2c testsuite and produces a broken binary with
	# GCC 12.3.0-17deepin2 (with backported LSX/LASX support).
        export DEB_CFLAGS_MAINT_STRIP = -mlsx
        export DEB_CXXFLAGS_MAINT_STRIP = -mlsx
endif

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	dh_auto_clean --sourcedir=ndiff --buildsystem=pybuild -- --name=ndiff
	dh_auto_clean --sourcedir=zenmap --buildsystem=pybuild -- --name=zenmap

override_dh_auto_configure:
	dh_auto_configure -- \
		--with-liblua=/usr \
		--with-liblinear \
		--without-zenmap \
		--without-ndiff \
		--enable-ipv6 \
		STRIP=/bin/true

execute_after_dh_auto_configure-indep:
	dh_auto_configure --sourcedir=ndiff --buildsystem=pybuild -- --name=ndiff
	dh_auto_configure --sourcedir=zenmap --buildsystem=pybuild -- --name=zenmap

mingw_CFLAGS = $(filter-out -mbranch-protection=standard,$(CFLAGS))

execute_after_dh_auto_build-indep:
	dh_auto_build --sourcedir=ndiff --buildsystem=pybuild -- --name=ndiff
	dh_auto_build --sourcedir=zenmap --buildsystem=pybuild -- --name=zenmap

	cd nselib/data/jdwp-class && /usr/lib/jvm/default-java/bin/javac *.java
ifneq (sw64, $(DEB_BUILD_ARCH))
	cd nselib/data/psexec && \
		i686-w64-mingw32-gcc ${CPPFLAGS} ${mingw_CFLAGS} -o nmap_service.exe nmap_service.c && \
		gzip -c -n9 nmap_service.exe | base64 | tac > nmap_service.ex_
endif

override_dh_auto_test-arch:

override_dh_auto_test-indep:
	dh_auto_test --sourcedir=ndiff --buildsystem=pybuild -- --name=ndiff
	dh_auto_test --sourcedir=zenmap --buildsystem=pybuild -- --name=zenmap

execute_after_dh_auto_install-arch:
	mv debian/tmp/usr/share/man/pt_PT debian/tmp/usr/share/man/pt

execute_after_dh_auto_install-indep:
	dh_auto_install --sourcedir=ndiff --buildsystem=pybuild --destdir=debian/ndiff -- --name=ndiff
	dh_auto_install --sourcedir=zenmap --buildsystem=pybuild --destdir=debian/zenmap -- --name=zenmap
